name: Quality Analysis and Build

on:
  push:
    branches: [ "main" ]
    paths-ignore:
      - '.gitignore'
      - 'renovate.json'
      - 'README.md'
  pull_request:
    branches: [ "main" ]
    paths-ignore:
      - '.gitignore'
      - 'renovate.json'
      - 'README.md'

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: false

jobs:
  run-analysis:
    runs-on: ubuntu-latest
    permissions:
      packages: write
    steps:
      - uses: actions/checkout@v5
        with:
          fetch-depth: 0

      - name: SonarQube Server Scan
        uses: sonarsource/sonarqube-scan-action@master
        env:
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
          SONAR_HOST_URL: ${{ secrets.SONAR_HOST_URL }}

  build-n-release:
    runs-on: ubuntu-latest
    needs: run-analysis
    if: needs.run-analysis.result == 'success'
    permissions:
      packages: write
    steps:
      - uses: actions/checkout@v5

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to GitHub Container Registry
        uses: docker/login-action@v3
        if: github.event_name != 'pull_request'
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Set env var for tag
        run: |
          if [[ "${{ github.event_name }}" == 'pull_request' ]] || [[ "${{ github.event.head_commit.message }}" == WIP:* ]]; then
            echo "DOCKER_IMAGE_TAG=wip" >> $GITHUB_ENV
          else
            echo "DOCKER_IMAGE_TAG=latest" >> $GITHUB_ENV
          fi

      - name: Build image and push to GHCR
        uses: docker/build-push-action@v6
        with:
          context: .
          push: ${{ github.event_name != 'pull_request' }}
          tags: ghcr.io/luiggi33/berlin-police-feed:${{ env.DOCKER_IMAGE_TAG }}
          cache-from: type=gha
          cache-to: type=gha,mode=max
          github-token: ${{ secrets.GITHUB_TOKEN }}
